* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans, sans-serif;
}
body {
  background: #f7f8f7;
}
#section-1 {
}
.section-head {
  position: relative;
  margin-top: 2rem;
}
.section-img {
  background-image: linear-gradient(0deg, #0000009e, hsla(0, 0%, 100%, 0)),
    url("home_new.webp");
  background-position: center -125%;
  width: 100%;
  height: 80vh;
  border-radius: 40px;
  background-size: cover;
  position: absolute;
}
.section1-btn {
  padding-top: 14rem;
  position: relative;
  padding-left: 5rem;
}
.section1-btn h1 {
  line-height: 170px;
  font-size: 64px;
  color: #fff;
}
.section1-btn h1 span {
  color: #a7e92f;
}
.section1-btn button {
  border-radius: 16px;
  border: none;
  color: #1b1b1c;
  width: 24%;
  background: #a7e92f;
  cursor: pointer;
  line-height: 24px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  position: relative;
  padding: 18px 5px;
}

/* section- 2 */

#section-2 {
  margin-left: 2rem;
  margin-top: 8rem;
  margin-right: 2rem;
}
.sec-2-head {
  display: flex;
}
.sec-2-text {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  z-index: 1;
  width: 100%;
  max-width: 64.063rem;
}
.sec-2-img {
  position: absolute;
  margin-left: 44rem;
}
.sec-2-img img {
  height: 10rem;
}

.section-2-box {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;
}
.section-2-box .sec2-box1 {
  border-top: 0.125rem solid #a7e92f;
  width: 19rem;
}
.section-2-box .sec2-box1 .sec2-bx {
  font-size: 4.375rem;
  font-weight: 600;
  margin-top: 1rem;
}
.section-2-box .sec2-box1 p {
  font-size: 1.25rem;
  margin-top: 1rem;
}

/* section-3 */

#section-3 {
  margin-left: 2rem;
  margin-top: 5rem;
  margin-right: 2rem;
}
.section-3-head {
  display: flex;
  justify-content: space-between;
}
.section-3-head h1 {
  font-size: 56px;
}
.section-3-head div p {
  font-size: 1.3rem;
  line-height: 26px;
}
.section-3-head .span-1 {
  position: relative;
}
.section-3-head .span-1::before {
  content: "";
  position: absolute;
  height: 12px !important;
  width: 100%;
  background: #a7e92f;
  left: 0;
  bottom: 0;
  transform: translateY(-100%);
  z-index: -1;
}
.carousel {
  border: none !important;
  overflow-x: hidden;
}
.flickity-slider {
  transform: translateX(0%) !important;
}

.carousel-cell {
  width: 22%;
  height: 169px;
  border-radius: 40px;
  margin-right: 10px;
  background: #8c8;
  counter-increment: gallery-cell;
  padding: 18px 13px;
  margin-right: 2rem;
  margin-right: 2rem;
}

.carousel-cell.is-selected {
  background: #ed2;
}
/* .flickity-viewport{ */
/* height: 60px !important; */
/* } */
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;

  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-icon {
  border-radius: 100%;
  border: 1px solid #a7e92f;
  height: 64px;
  width: 64px;
  min-width: 64px;
  margin: 0 0 16px;
}
.carousel-icon span img {
  padding: 13px 15px;
}
.carousel-icon p {
  padding-top: 34px;
  padding-left: 14px;
  font-size: 17px;
}
.flickity-prev-next-button {
  font-size: 30px !important;
}

/* section-4 */
#section-4 {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 7rem;
}

.section-4-head {
  margin-left: 2rem;
  margin-right: 2rem;
}
.section-4-head-h1 {
  font-size: 56px;
}
.section-4-head-p {
  margin-top: 1rem;
  font-size: 20px;
}
.section-box {
  width: 100%;
  margin-top: 1rem;
}
/* block - 1 */
.section-box .block-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-box .block-1 .box1 {
  background-color: #fff;
  height: 15rem;
  border-radius: 29px;
  padding: 15px;
  width: 60%;
  width: 60%;
}
.main-box h1 {
  margin-top: 1rem;
  color: rgb(64, 135, 225);
}
#location-4 {
  display: flex;
  margin-top: 1rem;
}
.main-box p {
  margin-top: 1rem;
}
.main-box ul {
  display: flex;
  margin-top: 1rem;
}
.main-box ul li {
  list-style: none;
  padding: 0px 5px;
}
.main-box li a {
  text-decoration: none;
  color: gray;
}

.section-box .block-1 .box2 {
  background-color: #fff;
  height: 15rem;
  border-radius: 29px;
  padding: 15px;
  width: 38%;
}

/* block-2 */
.section-box .block-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.section-box .block-2 .box1 {
  background-color: #fff;
  height: 15rem;
  border-radius: 29px;
  padding: 15px;
  width: 38%;
}
.section-box .block-2 .box2 {
  background-color: #fff;
  height: 15rem;
  border-radius: 29px;
  padding: 15px;
  width: 60%;
}
.carousel-1 {
  width: 20px;
}
.section-box .block-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.section-box .block-3 .box1 {
  background-color: #fff;
  height: 15rem;
  border-radius: 29px;
  padding: 15px;
  width: 60%;
}
.section-box .block-3 .box2 {
  background-color: #fff;
  height: 15rem;
  border-radius: 29px;
  padding: 15px;
  width: 38%;
}
.section6-btn {
  margin-top: 4rem;
}
.section6-btn button {
  border-radius: 16px;
  border: none;
  color: #1b1b1c;
  width: 24%;
  background: #a7e92f;
  cursor: pointer;
  line-height: 24px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  position: relative;
  padding: 18px 5px;
}
/* section 4 images */
.section-4-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-main-image {
  padding: 15px;
  border-radius: 45px;
  background-color: #fff;
}
.section-main-image h1 {
  text-align: center;
}
.section-main-image h2 {
  text-align: center;
}
.section7-btn button {
  border-radius: 16px;
  border: none;
  color: #1b1b1c;
  width: 26%;
  background: #a7e92f;
  cursor: pointer;
  line-height: 24px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  position: relative;
  padding: 18px 5px;
}
/* our values section */
.ourvalues8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.image-wrapper {
  border-radius: 100%;
  border: 2px solid #a7e92f;
  width: 64px;
  height: 64px;
  min-width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-values-section h2 {
  margin-top: 1rem;
  font-size: 30px;
}
.our-values-section p {
  margin-top: 1rem;
  font-size: 19px;
  line-height: 23px;
}

.our-values-section {
  width: 32%;
  padding: 38px;
  border-radius: 45px;
  background-color: #fff;
  height: 55vh;
}
.section-3-head2 {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-bottom: -4rem;
}
.image-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.section7-btn {
  margin-top: -2rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.our-values-main {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.improve-world {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}
.improve-world1 {
  font-size: 2rem;
}
.improve-world2 {
  font-size: 1.6rem;
}
.improve-world2 p {
  font-size: 21px;
}
.last-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.last {
  margin-top: 4rem;
  width: 23%;
  padding: 36px;
  border-radius: 45px;
  background-color: #fff;
  height: 35vh;
}
.last {
  font-size: 20px;
  line-height: 25px;
}
.last-sec-icon {
  display: flex;
  justify-content: end;
  padding-top: 4rem;
}
.various {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
}
.section9 {
}
/* *****header-footer */

header {
  width: 100%;
  height: 14vh;
}

#web {
  font-size: 23px;
  padding: 2px 0;
}
#EN {
  border-radius: 50%;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.8rem;
}
.dropdown-list {
  cursor: pointer;
}
.dropdown-list:hover .dropdown {
  display: block;
  z-index: 2;
}
.dropdown {
  display: none;
  position: absolute;
  height: auto;
  width: 14%;
  z-index: 2;
  background-color: white;
  top: 9.8vh;
  margin-left: 25px;
  border-radius: 10px;
}
.dropdown-font-size1:hover {
  background-color: #f0f0f7;
  border-left: 2px solid #272c33;
  border-right: 2px solid #272c33;
}

.dropdown p {
  padding: 10px 20px;
}
.dropdown a {
  font-size: 15px !important;
}

/* *********
        
        ********/
.dropdown-language {
  display: none;
  position: absolute;
  background: white;
  z-index: 1;
  width: 8%;
  margin-left: -18px;
  top: 11vh;
  border-radius: 10px;
}
.driver-btn1:hover .dropdown-language {
  display: block !important;
  z-index: 2;
}
.languages {
  background: white !important;
  padding: 5px !important;
  color: #7c8698 !important;
  cursor: pointer;
}
.languages:hover {
  background-color: #f0f0f7 !important;
  border-left: 2px solid #272c33;
  border-right: 2px solid #272c33;
  width: 100% !important;
  color: #1b1b1c !important;
}

header .navbar .header-logo img {
  width: 8.75rem;
  height: 4.375rem;
}
.header-list {
}
.header-list ul {
  display: flex;
}
.header-list ul li {
  list-style: none;
  padding: 0px 3.125rem 0px 0px;
}
.header-list ul li a:hover {
  color: black;
  transition: ease-in 0.2s;
}
.header-list ul li p {
  text-decoration: none;

  font-size: 1rem;
  color: #7c8698;
  font-weight: 400;
}
.header-list ul li a {
  text-decoration: none;

  font-size: 1rem;
  color: #7c8698;
  font-weight: 400;
}

.header-web {
  display: flex;
  align-items: center;
}
.header-web .driver-btn1 {
  padding-right: 2rem;
}

.header-web .driver-btn1 .header-btn1 {
  display: flex;
  align-items: center;
  border: none;
  background-color: #e6e6e6;
  padding: 5px 0px;
  border-radius: 29px;
  cursor: pointer;
}
.header-web .driver-btn1 .header-btn1 span {
  background-color: #e6e6e6;
  border-radius: 29px;
  padding: 0px 2px 0px 7px;
}
.menu-list {
  display: none;
}

.header-web p {
  font-size: 1rem;
  padding: 0px 12px 0px 5px;
  background-color: #e6e6e6;
}
.header-web .driver-btn2 .header-btn2 a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.header-web .driver-btn2 .header-btn2 {
  border: 2px solid #a7e92f;
  border-radius: 16px;
  color: #1b1b1c;
  width: 100%;
  background: none;
  white-space: nowrap;
  padding: 0 65px;
  height: 64px;
  cursor: pointer;
  line-height: 24px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  position: relative;
  transition: background 0.3s ease, border 0.3s ease;
}
.header-web .driver-btn2 .header-btn2:hover {
  background-color: #a7e92f;
}

/* footer */
footer {
  background-color: #1b1b1c;
  margin-inline: auto;
  border-top-right-radius: 48px;
  border-top-left-radius: 48px;
  width: 90%;
  padding-bottom: 2rem;
  margin-top: 7rem;
}
.head-footer {
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer-1 {
  display: flex;
  padding-top: 4rem;
  justify-content: space-between;
}
.footer-block-1 {
}
.footer-block-1 img {
}
.footer-block-2 {
  display: flex;

  justify-content: space-around;
}

.footer-list-1 {
  padding: 0px 30px;
}
.footer-list-1 div {
}
.footer-list-1 div h2 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 2rem;
}
.footer-list-1 div p {
  font-size: 14px;
  padding: 20px 0px;
}
.footer-list-1 div p a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease;
}
.footer-list-1 div p a:hover {
  color: #586069;
}
.driver-btn3 {
  padding-right: 2rem;
}
.driver-btn3 .header-btn3 {
  display: flex;
  align-items: center;
  border: none;
  background-color: #2d2d2e;
  padding: 5px 0px;
  border-radius: 29px;
}
.driver-btn3 .header-btn3 span {
  background-color: #2d2d2e;
  border-radius: 29px;
  padding: 0px 2px 0px 7px;
}
#web2 {
  color: white;
  font-size: 23px;
  padding: 2px 0;
}

.driver-btn3 p {
  font-size: 1rem;
  padding: 0px 12px 0px 5px;
  background-color: #2d2d2e;
  border-radius: 29px;
  color: white;
}

.footer-2 {
  margin-top: 5rem;
}
.footer-2 .footer-box-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-2 .footer-box-2 .footer2-block-left {
  width: 33%;
}
.footer-2 .footer-box-2 .footer2-block-left img {
  margin-bottom: 2rem;
}
.footer-2 .footer-box-2 .footer2-block-left p {
  color: #767677 !important;
  font-size: 14px;
  margin-bottom: 2rem;
}
.footer-store-main {
  display: flex;
}
.footer-store {
}
.footer-store img {
  width: 90%;
  border: 1px solid wheat;
  border-radius: 7px;
}
#h2-none {
  color: #1b1b1c;
}
#copyright {
  color: #767677 !important;
  font-size: 11px;
  margin-bottom: 2rem;
}
.footer2-block-right {
  padding-top: 5rem;
  padding-right: 3rem;
}
.footer2-block-right img {
}
.footer-3 {
  margin-top: 2rem;
}
.footer-3 ul {
  display: flex;
}
.footer-3 ul li {
  list-style: none;
  padding: 0px 5px;
}
.footer-3 ul li a {
  text-decoration: none;
  font-size: 11px;
  color: white;
}

.footer-3 ul button {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 2;
  bottom: 10px;
  right: 75px;
  border: none;
  background: #a7e92f;
  border-radius: 16px;
  cursor: pointer;
}

.footer-line-3 {
  width: 100%;
  height: 0.8px;
  background-color: white;
}

#menu-bar {
  display: none;
}

@media screen and (max-width: 374px) {
  /* header */
  header .navbar .header-logo img {
    width: 74%;
  }

  .dropdown-language {
    width: 29% !important;
    border-radius: 10px;
    top: 15.1vh;
  }

  .dropdown-list:hover .dropdown {
    display: flex;
    flex-direction: column;
  }
  .dropdown {
    display: none;

    height: auto;
    width: 58% !important;
    position: relative;
    background-color: white;
    top: 0;
    margin-left: 0;

    border-radius: 2px;
  }
  .dropdown p {
    padding: 10px;
  }
  .dropdown a {
    font-size: 15px !important;
  }
  .dropdown a:hover {
    background-color: gainsboro;
  }
  .dropdown-font-size {
  }
  .header-list {
  }
  .header-list ul {
  }
  .header-list ul li {
    padding: 10px 10px !important;
  }
  .header-list ul li a {
  }
  .dropdown {
  }
  .dropdown p {
  }
  .dropdown p a {
  }
  #menu-link {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    background-color: #1b1b1c;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 26px;
    margin-top: 7vh;
  }
  .driver-btn2 {
    display: none;
  }
  .header .navbar {
    position: relative;
  }
  .header-web .driver-btn1 {
    padding-left: 23% !important;
  }
  .header-web .driver-btn1 .header-btn1 {
    display: flex;
    align-items: center;
    border: none;
    background-color: #e6e6e6;
    padding: 5px 0px;
    border-radius: 29px;
  }
  .header-web .driver-btn1 .header-btn1 span {
    background-color: #e6e6e6;
    border-radius: 29px;
    padding: 0px 2px 0px 7px;
  }
  .menu-list {
    display: block;
    font-size: 31px;
  }
  /* footer */

  .footer-1 {
    display: inline !important;
  }
  .footer-block-2 {
    display: inline !important;
  }
  .footer-list-1 {
    padding: 20px 0px !important;
  }
  .footer-list-1 div h2 {
    margin-bottom: 0rem !important;
  }
  .footer-list-1 div p {
    padding: 13px 0px !important;
  }
  .footer-block-1 {
    margin-bottom: 1rem;
    padding-top: 1rem;
  }

  .footer-2 .footer-box-2 {
    flex-wrap: wrap;
  }
  .footer2-block-left {
    width: 100% !important;
  }
  .footer-3 ul {
    display: block !important;
  }
  .footer-3 ul li {
    padding: 3px 0px;
  }
  .footer-3 ul li a {
    font-size: 12px;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  /* header */
  header .navbar .header-logo img {
    width: 74%;
  }

  .dropdown-language {
    width: 29% !important;
    border-radius: 10px;
    top: 15.1vh;
  }

  .dropdown-list:hover .dropdown {
    display: flex;
    flex-direction: column;
  }
  .dropdown {
    display: none;

    height: auto;
    width: 58% !important;
    position: relative;
    background-color: white;
    top: 0;
    margin-left: 0;

    border-radius: 2px;
  }
  .dropdown p {
    padding: 10px;
  }
  .dropdown a {
    font-size: 15px !important;
  }
  .dropdown a:hover {
    background-color: gainsboro;
  }
  .dropdown-font-size {
  }
  .header-list {
  }
  .header-list ul {
  }
  .header-list ul li {
    padding: 10px 10px !important;
  }
  .header-list ul li a {
  }
  .dropdown {
  }
  .dropdown p {
  }
  .dropdown p a {
  }
  #menu-link {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    background-color: #1b1b1c;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 26px;
    margin-top: 7vh;
  }
  .driver-btn2 {
    display: none;
  }
  .header .navbar {
    position: relative;
  }
  .header-web .driver-btn1 {
    padding-left: 23% !important;
  }
  .header-web .driver-btn1 .header-btn1 {
    display: flex;
    align-items: center;
    border: none;
    background-color: #e6e6e6;
    padding: 5px 0px;
    border-radius: 29px;
  }
  .header-web .driver-btn1 .header-btn1 span {
    background-color: #e6e6e6;
    border-radius: 29px;
    padding: 0px 2px 0px 7px;
  }
  .menu-list {
    display: block;
    font-size: 31px;
  }

  /* footer */

  .footer-1 {
    display: inline !important;
  }
  .footer-block-2 {
    display: inline !important;
  }
  .footer-list-1 {
    padding: 20px 0px !important;
  }
  .footer-list-1 div h2 {
    margin-bottom: 0rem !important;
  }
  .footer-list-1 div p {
    padding: 13px 0px !important;
  }
  .footer-block-1 {
    margin-bottom: 1rem;
    padding-top: 1rem;
  }

  .footer-2 .footer-box-2 {
    flex-wrap: wrap;
  }
  .footer2-block-left {
    width: 100% !important;
  }
  .footer-3 ul {
    display: block !important;
  }
  .footer-3 ul li {
    padding: 3px 0px;
  }
  .footer-3 ul li a {
    font-size: 12px;
  }

  /*  */
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  /* header */
  header .navbar {
    display: flex;
    justify-content: flex-start;
  }
  .header-web {
    padding-left: 28rem;
  }
  header .navbar .header-logo img {
  }
  .dropdown-language {
    width: 29% !important;
    border-radius: 10px;
    margin-left: -7%;
    top: 14vh;
  }
  .dropdown-list:hover .dropdown {
    display: flex;
    flex-direction: column;
  }
  .dropdown {
    display: none;

    /* margin: -7px 151px; */
    height: auto;
    width: 58% !important;
    position: relative;
    background-color: white;
    top: 0;
    margin-left: 0;
    border-radius: 2px;
  }
  .dropdown p {
    padding: 10px;
  }
  .dropdown a {
    font-size: 15px !important;
  }
  .dropdown a:hover {
    background-color: gainsboro;
  }
  .dropdown-font-size {
  }
  .header-list {
  }
  .header-list ul {
  }
  .header-list ul li {
    padding: 10px 10px !important;
  }
  .header-list ul li a {
  }
  .dropdown {
  }
  .dropdown p {
  }
  .dropdown p a {
  }
  #menu-link {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    background-color: #1b1b1c;
    height: 100vh;
    padding-top: 26px;
    margin-top: 40px;
  }
  .driver-btn2 {
    display: none;
  }
  .header .navbar {
    position: relative;
  }
  .header-web .driver-btn1 {
  }
  .header-web .driver-btn1 .header-btn1 {
    display: flex;
    align-items: center;
    border: none;
    background-color: #e6e6e6;
    padding: 5px 0px;
    border-radius: 29px;
  }
  .header-web .driver-btn1 .header-btn1 span {
    background-color: #e6e6e6;
    border-radius: 29px;
    padding: 0px 2px 0px 7px;
  }
  .menu-list {
    display: block;
    font-size: 31px;
  }

  /* header-end */

  /* footer */

  .footer-1 {
    display: inline !important;
  }
  .footer-block-2 {
    display: inline !important;
  }
  .footer-list-1 {
    padding: 20px 0px !important;
  }
  .footer-list-1 div h2 {
    margin-bottom: 0rem !important;
  }
  .footer-list-1 div p {
    padding: 13px 0px !important;
  }
  .footer-block-1 {
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  .footer-2 .footer-box-2 .footer2-block-left p {
    text-align: center;
  }
  #copyright {
    text-align: center;
  }
  .footer2-block-right {
    margin: auto;
    margin-top: -3rem;
  }
  .footer2-block-right img {
    margin-bottom: 1rem;
  }
  .footer-2 .footer-box-2 {
    flex-wrap: wrap;
  }
  .footer2-block-left {
    width: 100% !important;
  }
  .footer-3 ul {
  }
  .footer-3 ul li {
    padding: 3px 10px;
  }
  .footer-3 ul li a {
    font-size: 12px;
  }
  #ft-img1 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* header */
  header {
    width: 100%;
    height: 14vh;
  }

  #web {
    font-size: 21px;
    padding: 2px 0;
  }
  #EN {
    border-radius: 50%;
    font-size: 17px;
  }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 0.8rem;
  }
  .dropdown-list {
    cursor: pointer;
  }
  .dropdown-list:hover .dropdown {
    display: block;
    z-index: 2;
  }
  .dropdown {
    display: none;
    position: absolute;
    height: auto;
    width: 14%;
    z-index: 2;
    background-color: white;
    top: 10.8vh;
    margin-left: 25px;
    border-radius: 10px;
  }
  .dropdown-font-size1:hover {
    background-color: #f0f0f7;
    border-left: 2px solid #272c33;
    border-right: 2px solid #272c33;
  }

  .dropdown p {
    padding: 10px 20px;
  }
  .dropdown a {
    font-size: 15px !important;
  }

  /* *********
                
                ********/
  .dropdown-language {
    display: none;
    position: absolute;
    background: white;
    z-index: 1;
    width: 8%;
    margin-left: -18px;
    top: 12.6vh;
    border-radius: 10px;
  }
  .driver-btn1:hover .dropdown-language {
    display: block !important;
    z-index: 2;
  }
  .languages {
    background: white !important;
    padding: 5px !important;
    color: #7c8698 !important;
    cursor: pointer;
  }
  .languages:hover {
    background-color: #f0f0f7 !important;
    border-left: 2px solid #272c33;
    border-right: 2px solid #272c33;
    width: 100% !important;
    color: #1b1b1c !important;
  }

  header .navbar .header-logo img {
    width: 6.75rem;
    height: 3.375rem;
  }
  .header-list {
  }
  .header-list ul {
    display: flex;
  }
  .header-list ul li {
    list-style: none;
    padding: 0px 1.125rem 0px 0px;
  }
  .header-list ul li a:hover {
    color: black;
    transition: ease-in 0.2s;
  }
  .header-list ul li p {
    text-decoration: none;

    font-size: 1rem;
    color: #7c8698;
    font-weight: 400;
  }
  .header-list ul li a {
    text-decoration: none;

    font-size: 1rem;
    color: #7c8698;
    font-weight: 400;
  }

  .header-web {
    display: flex;
    align-items: center;
  }
  .header-web .driver-btn1 {
    padding-right: 2rem;
  }

  .header-web .driver-btn1 .header-btn1 {
    display: flex;
    align-items: center;
    border: none;
    background-color: #e6e6e6;
    padding: 5px 0px;
    border-radius: 29px;
    cursor: pointer;
  }
  .header-web .driver-btn1 .header-btn1 span {
    background-color: #e6e6e6;
    border-radius: 29px;
    padding: 0px 2px 0px 7px;
  }
  .menu-list {
    display: none;
  }

  .header-web p {
    font-size: 1rem;
    padding: 0px 12px 0px 5px;
    background-color: #e6e6e6;
  }
  .header-web .driver-btn2 .header-btn2 a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  .header-web .driver-btn2 .header-btn2 {
    border: 2px solid #a7e92f;
    border-radius: 16px;
    color: #1b1b1c;
    width: 100%;
    background: none;
    white-space: nowrap;
    padding: 0 65px;
    height: 64px;
    cursor: pointer;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    position: relative;
    transition: background 0.3s ease, border 0.3s ease;
  }
  .header-web .driver-btn2 .header-btn2:hover {
    background-color: #a7e92f;
  }

  /* footer */
  footer {
    background-color: #1b1b1c;
    margin-inline: auto;
    border-top-right-radius: 48px;
    border-top-left-radius: 48px;
    width: 90%;
    padding-bottom: 2rem;
    margin-top: 7rem;
  }
  .head-footer {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .footer-1 {
    display: flex;
    padding-top: 4rem;
    justify-content: space-between;
  }
  .footer-block-1 {
  }
  .footer-block-1 img {
  }
  .footer-block-2 {
    display: flex;

    justify-content: space-around;
  }

  .footer-list-1 {
    padding: 0px 30px;
  }
  .footer-list-1 div {
  }
  .footer-list-1 div h2 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 2rem;
  }
  .footer-list-1 div p {
    font-size: 14px;
    padding: 20px 0px;
  }
  .footer-list-1 div p a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease;
  }
  .footer-list-1 div p a:hover {
    color: #586069;
  }
  .driver-btn3 {
    padding-right: 2rem;
  }
  .driver-btn3 .header-btn3 {
    display: flex;
    align-items: center;
    border: none;
    background-color: #2d2d2e;
    padding: 5px 0px;
    border-radius: 29px;
  }
  .driver-btn3 .header-btn3 span {
    background-color: #2d2d2e;
    border-radius: 29px;
    padding: 0px 2px 0px 7px;
  }
  #web2 {
    color: white;
    font-size: 23px;
    padding: 2px 0;
  }

  .driver-btn3 p {
    font-size: 1rem;
    padding: 0px 12px 0px 5px;
    background-color: #2d2d2e;
    border-radius: 29px;
    color: white;
  }

  .footer-2 {
    margin-top: 5rem;
  }
  .footer-2 .footer-box-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-2 .footer-box-2 .footer2-block-left {
    width: 33%;
  }
  .footer-2 .footer-box-2 .footer2-block-left img {
    margin-bottom: 2rem;
  }
  .footer-2 .footer-box-2 .footer2-block-left p {
    color: #767677 !important;
    font-size: 14px;
    margin-bottom: 2rem;
  }
  .footer-store-main {
    display: flex;
  }
  .footer-store {
  }
  .footer-store img {
    width: 90%;
    border: 1px solid wheat;
    border-radius: 7px;
  }
  #h2-none {
    color: #1b1b1c;
  }
  #copyright {
    color: #767677 !important;
    font-size: 11px;
    margin-bottom: 2rem;
  }
  .footer2-block-right {
    padding-top: 5rem;
    padding-right: 3rem;
  }
  .footer2-block-right img {
  }
  .footer-3 {
    margin-top: 2rem;
  }
  .footer-3 ul {
    display: flex;
  }
  .footer-3 ul li {
    list-style: none;
    padding: 0px 5px;
  }
  .footer-3 ul li a {
    text-decoration: none;
    font-size: 11px;
    color: white;
  }

  .footer-3 ul button {
    width: 56px;
    height: 56px;
    position: fixed;
    z-index: 2;
    bottom: 10px;
    right: 75px;
    border: none;
    background: #a7e92f;
    border-radius: 16px;
    cursor: pointer;
  }

  .footer-line-3 {
    width: 100%;
    height: 0.8px;
    background-color: white;
  }
}
.section-11-box{
    display: flex; 
    flex-direction: column;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
}

.section-11-box .section-11-box-1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* padding-top: ;
    padding-bottom: ;
    padding-right: ;
    padding-left: ;
    border-radius: 20px; */
}

.section-11-box .section-11-box-1 a{
    text-decoration: none;
    color: black;
}

.section-11-box .section-11-box-1 .section-11-inner-box1{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 60px;
    margin-right: 20px;
    background-color: white;

}


.section-11-box .section-11-box-1 .section-11-inner-box1 .inner-box2 img{
    width: 80%;
    margin-top: 6rem;
}